<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tintint_jw">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KaKaoLogin.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/tingting"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/tingting"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--activity android:name=".Matching.MatchingTeamInfo"/-->
        <activity android:name=".View.SignUp.SignupActivity1" />
        <activity android:name=".SearchTeam.MakeTeamPacakge.ReviseTeam" />
        <activity android:name=".TeamInfo.TeamInfoProfileDetailActivity" />
        <activity android:name=".TeamInfo.TeamInfoActivity" />
        <activity android:name=".Matching.MatchingRequest" />
        <activity android:name=".ApplyTeamInfo.ApplyTeamInfoActivity" />
        <activity android:name=".SearchTeam.MakeTeamPacakge.MTeam" /> <!-- activity android:name=".View.TeamInfo" / -->
        <activity android:name=".Matching.MatchingDetail" />
        <activity android:name=".View.MainActivity" />
        <activity android:name=".SearchTeam.SearchTeamInfoDetailActivity"></activity>
        <activity android:name=".SearchTeam.SearchTeamInfo" />
        <activity android:name=".Matching.MatchingTeamInfo" />
        <activity android:name=".View.PictureRegisterActivity" />
        <activity android:name=".View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.ProfileDetailActivity" />
        <activity android:name=".FindIdAndPw.FindId" />
        <activity android:name=".FindIdAndPw.FindPw" />
        <activity android:name=".View.SignUp.SignUpActivity2" />
        <activity android:name=".View.LoginActivity" />
        <activity android:name=".Matching.FilterActivity" />
        <activity android:name=".View.SchoolAuthActivity" />
        <activity android:name=".View.SettingsActivity" />
        <activity android:name=".View.SelfAuthActivity" />
        <activity android:name=".View.SignUp.SignUpConfirmActivity" />
        <activity android:name=".View.SignUp.SignUpConfirmKActivity" />
        <activity android:name=".View.Policy.CheckPolicy01" />
        <activity android:name=".View.Policy.CheckPolicy02" />
        <activity android:name=".Matching.MatchingApplyTeamInfo" />
        <activity android:name=".Matching.MatchingRequestTeamInfo" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>