<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tingting.ver01">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.tingting.ver01.KaKaoLogin.GlobalApplication"
        android:icon="@drawable/tingting"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/tingting"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--activity android:name=".Matching.MatchingTeamInfo"/-->
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name="com.tingting.ver01.View.SignUp.SignupActivity1"
            android:windowSoftInputMode="stateAlwaysVisible"
            />
        <activity android:name="com.tingting.ver01.View.SignUp.SignupActivity2"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name="com.tingting.ver01.SearchTeam.MakeTeamPacakge.ReviseTeam" />
        <activity android:name="com.tingting.ver01.TeamInfo.TeamInfoProfileDetailActivity" />
        <activity android:name="com.tingting.ver01.TeamInfo.TeamInfoActivity" />
        <activity android:name="com.tingting.ver01.Matching.MatchingRequest" />
        <activity android:name="com.tingting.ver01.ApplyTeamInfo.ApplyTeamInfoActivity" />
        <activity android:name="com.tingting.ver01.SearchTeam.MakeTeamPacakge.MTeam" /> <!-- activity android:name=".View.TeamInfo" / -->
        <activity android:name="com.tingting.ver01.Matching.MatchingDetail" />
        <activity android:name="com.tingting.ver01.View.MainActivity" />
        <activity android:name="com.tingting.ver01.SearchTeam.SearchTeamInfoDetailActivity"></activity>
        <activity android:name="com.tingting.ver01.SearchTeam.SearchTeamInfo" />
        <activity android:name="com.tingting.ver01.Matching.MatchingTeamInfo" />
        <activity android:name="com.tingting.ver01.View.PictureRegisterActivity" />
        <activity android:name="com.tingting.ver01.View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.ProfileDetailActivity" />
        <activity android:name=".FindIdAndPw.FindAccount" />

        <activity android:name=".View.LoginActivity" />
        <activity android:name=".Matching.FilterActivity" />
        <activity android:name=".View.SchoolAuthActivity"
            android:windowSoftInputMode="stateAlwaysVisible"
            />
        <activity android:name=".View.SettingsActivity" />
        <activity android:name=".View.SelfAuthActivity" />
        <activity android:name=".View.SignUp.SignUpConfirmActivity" />
        <activity android:name=".View.SignUp.SignUpConfirmKActivity" />
        <activity android:name=".View.Policy.CheckPolicy01" />
        <activity android:name=".View.Policy.CheckPolicy02" />
        <activity android:name=".Matching.MatchingApplyTeamInfo" />
        <activity android:name=".Matching.MatchingRequestTeamInfo" />
        <activity android:name=".View.SetNewPw"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>