<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tingting.ver01">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.tingting.ver01.KaKaoLogin.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/tingting"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/tingting"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--activity android:name=".Matching.MatchingTeamInfo"/-->
        <activity android:name="com.tingting.ver01.View.SignUp.SignupActivity1" />
        <activity android:name="com.tingting.ver01.SearchTeam.MakeTeamPacakge.ReviseTeam" />
        <activity android:name="com.tingting.ver01.TeamInfo.TeamInfoProfileDetailActivity" />
        <activity android:name="com.tingting.ver01.TeamInfo.TeamInfoActivity" />
        <activity android:name="com.tingting.ver01.Matching.MatchingRequest" />
        <activity android:name="com.tingting.ver01.ApplyTeamInfo.ApplyTeamInfoActivity" />
        <activity android:name="com.tingting.ver01.SearchTeam.MakeTeamPacakge.MTeam" /> <!-- activity android:name=".View.TeamInfo" / -->
        <activity android:name="com.tingting.ver01.Matching.MatchingDetail" />
        <activity android:name="com.tingting.ver01.View.MainActivity" />
        <activity android:name="com.tingting.ver01.SearchTeam.SearchTeamInfoDetailActivity"></activity>
        <activity android:name="com.tingting.ver01.SearchTeam.SearchTeamInfo" />
        <activity android:name="com.tingting.ver01.Matching.MatchingTeamInfo" />
        <activity android:name="com.tingting.ver01.View.PictureRegisterActivity" />
        <activity android:name="com.tingting.ver01.View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tingting.ver01.View.ProfileDetailActivity" />
        <activity android:name="com.tingting.ver01.FindIdAndPw.FindId" />
        <activity android:name="com.tingting.ver01.FindIdAndPw.FindPw" />
        <activity android:name="com.tingting.ver01.View.SignUp.SignUpActivity2" />
        <activity android:name="com.tingting.ver01.View.LoginActivity" />
        <activity android:name="com.tingting.ver01.Matching.FilterActivity" />
        <activity android:name="com.tingting.ver01.View.SchoolAuthActivity" />
        <activity android:name="com.tingting.ver01.View.SettingsActivity" />
        <activity android:name="com.tingting.ver01.View.SelfAuthActivity" />
        <activity android:name="com.tingting.ver01.View.SignUp.SignUpConfirmActivity" />
        <activity android:name="com.tingting.ver01.View.SignUp.SignUpConfirmKActivity" />
        <activity android:name="com.tingting.ver01.View.Policy.CheckPolicy01" />
        <activity android:name="com.tingting.ver01.View.Policy.CheckPolicy02" />
        <activity android:name="com.tingting.ver01.Matching.MatchingApplyTeamInfo" />
        <activity android:name="com.tingting.ver01.Matching.MatchingRequestTeamInfo" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>